.App li {
    display: flex;
    justify-content: space-between;
}

.App ul {
    padding-left: 2%;
}

.errorMessage {
    color: #ff0000;
    font-weight: 500;
}

.input {
    border-color: red;
}


.main {
    margin-left: 5%;
    display: flex;
    gap: 5%;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filter .active {
    background-color: aqua;
}

.isDone {
    opacity: 50%;
}

